[Unit]
Description=OpenStack Swift Exporter for Prometheus.
After=syslog.target network.target

[Service]
Type=simple
ExecStart=/opt/swift_exporter/bin/swift_exporter --log.debug --config /opt/swift_exporter/conf/swift_exporter.yml

[Install]
WantedBy=multi-user.target
